body {
  background: linear-gradient(180deg, #dbeafe, #bfdbfe);
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #64748b;
  margin-bottom: 20px;
}

h2 {
  font-size: 14px;
  color: #1e40af;
  margin-top: 20px;
  margin-bottom: 8px;
}

.playlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist li {
  background: #eff6ff;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s;
}

.playlist li:hover {
  background: #dbeafe;
}

audio {
  width: 100%;
  margin-top: 15px;
}
